:root {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "menu conteudo";
  background-color: #EAEAEA;
}

body {
  margin: 120px 260px 120px 260px;
  background-color: #EAEAEA;
}

section#conteudo {
  grid-area: conteudo;
  background-color: #FFFFFF;
}
section#conteudo article#mywork div#grid {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-left: 50px;
}
section#conteudo article#Home section.session-finale {
  padding-top: 140px;
  padding-left: 48%;
}
section#conteudo article#Home section.session-finale p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bolder;
}
section#conteudo article#Home p#conteudo-about {
  padding: 0px 80px;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  font-style: italic;
  color: #999;
}
section#conteudo article#Home h1 {
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 50px;
  margin: 50px 0px 0px 0px;
}
section#conteudo article#Home .h2-before {
  position: relative;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
}
section#conteudo article#Home .h2-before::before {
  content: "";
  background-color: #ffd42d;
  width: 20px;
  height: 8px;
  z-index: 10;
  position: absolute;
  bottom: 30px;
  left: 49%;
}
section#conteudo article#Home h3 {
  text-align: center;
  font-family: "Roboto Slab", serif;
  color: #999;
  font-size: 17px;
}
section#conteudo article#Home section#about-me {
  margin: 150px 50px 0px 50px;
  text-align: center;
}
section#conteudo article#Home section#personal-info {
  margin: 150px 50px 0px 50px;
  text-align: center;
}
section#conteudo article#Home section#personal-info #content-personal {
  margin-top: 80px;
}
section#conteudo article#Home section#personal-info ul#float-left-personal {
  top: -16px;
  float: left;
  margin-left: -8%;
  padding-right: 18px;
  position: relative;
  text-align: right;
  width: 53%;
  list-style: none;
  line-height: 28px;
}
section#conteudo article#Home section#personal-info ul#float-left-personal li {
  font-family: "Roboto Slab", serif;
  font-size: 15px;
}
section#conteudo article#Home section#personal-info ul#float-right-personal {
  margin-left: 95px;
  list-style: none;
  padding-right: 18px;
  position: relative;
  text-align: left;
  width: 63%;
}
section#conteudo article#Home section#personal-info ul#float-right-personal li {
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  color: #999;
  font-weight: 200;
  line-height: 28px;
}
section#conteudo article#Home section#personal-info::after {
  background-color: #eaeaea;
  content: " ";
  height: 23%;
  left: 55.5vw;
  position: absolute;
  top: 750px;
  width: 1px;
  z-index: 0;
}
section#conteudo article#Home section#contact-info {
  margin: 150px 50px 0px 50px;
  text-align: center;
}
section#conteudo article#Home section#contact-info #content-contact {
  margin-top: 80px;
}
section#conteudo article#Home section#contact-info ul#float-left-contact {
  top: -16px;
  float: left;
  margin-left: -8%;
  padding-right: 18px;
  position: relative;
  text-align: right;
  width: 53%;
  list-style: none;
  line-height: 35px;
}
section#conteudo article#Home section#contact-info ul#float-left-contact li {
  font-family: "Roboto Slab", serif;
  font-size: 15px;
}
section#conteudo article#Home section#contact-info ul#float-left-contact li a {
  display: inline;
}
section#conteudo article#Home section#contact-info ul#float-right-contact {
  margin-left: 95px;
  list-style: none;
  padding-right: 18px;
  position: relative;
  text-align: left;
  width: 63%;
  line-height: 35px;
}
section#conteudo article#Home section#contact-info ul#float-right-contact li {
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  color: #999;
  font-weight: 200;
}
section#conteudo article#Home section#contact-info::after {
  background-color: #eaeaea;
  content: " ";
  height: 18%;
  left: 55.5vw;
  position: absolute;
  top: 1120px;
  width: 1px;
  z-index: 0;
}
section#conteudo article#resume section.session-finale {
  padding-top: 140px;
  padding-left: 48%;
}
section#conteudo article#resume section.session-finale p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bolder;
}
section#conteudo article#resume h1 {
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 50px;
  margin: 50px 0px 0px 0px;
}
section#conteudo article#resume .titulo-about h2 {
  text-align: center;
  position: relative;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
}
section#conteudo article#resume .titulo-about h2::before {
  content: "";
  background-color: #ffd42d;
  width: 20px;
  height: 8px;
  z-index: 10;
  position: absolute;
  bottom: 30px;
  left: 49%;
}
section#conteudo article#resume h3 {
  text-align: center;
  font-family: "Roboto Slab", serif;
  color: #999;
  font-size: 17px;
}
section#conteudo article#resume section#experience {
  margin: 150px 50px 0px 50px;
  text-align: center;
}
section#conteudo article#resume div#content-resume ul#float-left-resume {
  top: -16px;
  float: left;
  margin-left: -8%;
  padding-right: 18px;
  position: relative;
  text-align: right;
  width: 53%;
  list-style: none;
  line-height: 28px;
}
section#conteudo article#resume div#content-resume ul#float-left-resume li {
  font-weight: bolder;
  height: 100px;
}
section#conteudo article#resume div#content-resume ul#float-left-resume li span.current {
  background-color: #ffd42d;
  border-radius: 5px;
  padding: 4px;
}
section#conteudo article#resume div#content-resume ul#float-left-resume li span.data {
  background-color: black;
  border-radius: 5px;
  padding: 4px;
  color: white;
}
section#conteudo article#resume div#content-resume ul#float-right-resume {
  margin-left: 95px;
  list-style: none;
  padding-right: 18px;
  position: relative;
  text-align: left;
  width: 63%;
}
section#conteudo article#resume div#content-resume ul#float-right-resume li {
  line-height: 25px;
  height: 100px;
}
section#conteudo article#resume div#content-resume ul#float-right-resume li span.destaque_span {
  background-color: darkorange;
  border-radius: 5px;
  padding: 4px;
  color: black;
  font-weight: bolder;
}
section#conteudo article#resume section#education {
  margin: 150px 50px 0px 50px;
  text-align: center;
}
section#conteudo article#resume div#content-education ul#float-left-education {
  top: -16px;
  float: left;
  margin-left: -8%;
  padding-right: 18px;
  position: relative;
  text-align: right;
  width: 53%;
  list-style: none;
  line-height: 28px;
}
section#conteudo article#resume div#content-education ul#float-left-education li {
  font-weight: bolder;
  height: 100px;
}
section#conteudo article#resume div#content-education ul#float-left-education li span.current {
  background-color: #ffd42d;
  border-radius: 5px;
  padding: 4px;
}
section#conteudo article#resume div#content-education ul#float-left-education li span.data {
  background-color: black;
  border-radius: 5px;
  padding: 4px;
  color: white;
}
section#conteudo article#resume div#content-education ul#float-right-education {
  margin-left: 95px;
  list-style: none;
  padding-right: 18px;
  position: relative;
  text-align: left;
  width: 63%;
}
section#conteudo article#resume div#content-education ul#float-right-education li {
  line-height: 25px;
  height: 100px;
}
section#conteudo article#resume div#content-education ul#float-right-education li span.destaque_span {
  background-color: darkorange;
  border-radius: 5px;
  padding: 4px;
  color: black;
  font-weight: bolder;
}
section#conteudo article#resume div#content-skill ul#float-left-skill {
  top: -16px;
  float: left;
  margin-left: -8%;
  padding-right: 18px;
  position: relative;
  text-align: right;
  width: 53%;
  list-style: none;
  line-height: 28px;
}
section#conteudo article#resume div#content-skill ul#float-left-skill li {
  font-weight: bolder;
  height: 100px;
  height: 30px !important;
}
section#conteudo article#resume div#content-skill ul#float-left-skill li div.rating {
  display: inline-block;
}
section#conteudo article#resume div#content-skill ul#float-left-skill li div.rating span {
  border-radius: 50%;
  display: inline-block;
  height: 7px;
  width: 7px;
  background-color: #ffd42d;
  margin: 4px;
}
section#conteudo article#resume div#content-skill ul#float-left-skill li div.rating span.transparent {
  border-radius: 50%;
  display: inline-block;
  height: 7px;
  width: 7px;
  background-color: #eaeaea;
  margin: 4px;
}
section#conteudo article#resume div#content-skill ul#float-left-skill li p {
  display: inline-block;
}
section#conteudo article#resume div#content-skill ul#float-right-skill {
  margin-left: 95px;
  list-style: none;
  padding-right: 18px;
  position: relative;
  text-align: left;
  width: 63%;
}
section#conteudo article#resume div#content-skill ul#float-right-skill li {
  line-height: 20px;
  height: 100px;
}
section#conteudo article#resume div#content-skill ul#float-right-skill li div.skill_destaque {
  padding-top: 24px;
  font-weight: bolder;
  padding-bottom: 17px;
  font-size: 1.15rem;
}
section#conteudo article#resume div#content-skill ul#float-right-skill li p {
  padding-top: 0;
  margin: 0;
  font-style: italic;
}
section#conteudo article#resume section#skill {
  margin: 150px 50px 0px 50px;
  text-align: center;
}
section#conteudo article#resume section#skill::after {
  background-color: #eaeaea;
  content: " ";
  height: 35%;
  left: 55.2vw;
  position: absolute;
  top: 1540px;
  width: 1px;
  z-index: 0;
}
section#conteudo article#mywork section.session-finale {
  padding-top: 140px;
  padding-left: 48%;
}
section#conteudo article#mywork section.session-finale p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bolder;
}

header#menu {
  grid-area: menu;
  height: 1050px;
}
header#menu ul {
  margin: 0px;
  padding: 0;
}
header#menu ul li.li_menu {
  list-style: none;
  width: auto;
  margin: 0px;
  border-bottom: 0.5px solid lightgray;
  border-right: 0.5px solid lightgray;
  height: 150px;
}
header#menu ul li.li_menu a {
  text-decoration: none;
  background: #ffffff;
  color: #2a2a2a;
  text-transform: uppercase;
  padding: 30px 0;
  display: inline-block;
  height: 100px;
  text-align: center;
  font-family: "Roboto Slab", serif;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  width: 100%;
  font-size: 16px;
}
header#menu ul li.li_menu a span.spanPrincipal {
  display: block;
  padding: 5px;
  z-index: -3;
}
header#menu ul li.li_menu a span.spanSecundario {
  display: block;
  font-size: 12px;
  color: lightslategray;
  z-index: -3;
}
header#menu ul li.li_menu a::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffd42d;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
header#menu ul li.li_menu a:hover, header#menu ul li.li_menu a:focus, header#menu ul li.li_menu a:active {
  color: #2a2a2a;
}
header#menu ul li.li_menu a:hover::before, header#menu ul li.li_menu a:focus::before, header#menu ul li.li_menu a:active::before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
header#menu ul li.li_menu a .active::before {
  color: #ffffff;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffd42d;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  -ms-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
header#menu ul li.li_menu a.active::after {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  top: 50%;
  margin-top: -25px;
  right: -15px;
  border-width: 25px 0 25px 15px;
  border-color: transparent transparent transparent #ffd42d;
}

.image {
  list-style: none;
  width: auto;
  margin: 0px;
  border-bottom: 0.5px solid lightgray;
  border-right: 0.5px solid lightgray;
  margin: 0px;
  padding: 0px;
}
.image img {
  background-size: cover;
  height: auto;
  max-width: 100%;
}

.css {
  background-color: #1387C7;
  padding: 3px;
  border-radius: 4px;
}

.scss {
  background-color: #CE6B9E;
  padding: 3px;
  border-radius: 4px;
}

.js {
  background-color: #EFD81D;
  padding: 3px;
  border-radius: 4px;
}

.html {
  background-color: #F4470B;
  padding: 3px;
  border-radius: 4px;
}

.grunt {
  background-color: #F3A418;
  padding: 3px;
  border-radius: 4px;
}

@media only screen and (max-width: 1200px) {
  body {
    margin: 70px 120px 70px 120px;
  }

  .image {
    height: 400px;
    width: auto;
  }

  header#menu {
    min-width: 500px;
    grid-column: 1/6;
    height: auto;
  }
  header#menu ul {
    display: flex;
  }
  header#menu ul li.li_menu {
    width: 100%;
    border-left: 0.5px solid black;
  }

  section#conteudo {
    grid-row: 2/3;
    grid-column: 1/6;
    background-color: white;
    min-width: 500px;
  }
}
@media only screen and (max-width: 1229px) {
  section#conteudo article#Home section#personal-info::after {
    content: "";
    background-color: transparent;
  }
  section#conteudo article#Home section#contact-info::after {
    content: "";
    background-color: transparent;
  }
  section#conteudo article#resume section#skill::after {
    content: "";
    background-color: transparent;
  }
  section#conteudo article#resume section#skill div#content-skill ul#float-right-skill li div.skill_destaque {
    padding-top: 0;
  }
  section#conteudo article#resume section#skill div#content-skill ul#float-right-skill li:nth-last-child(2) {
    margin-top: 25px;
  }

  ul#float-right-resume li {
    height: 155px !important;
  }

  ul#float-left-resume li {
    height: 155px !important;
  }
}
@media only screen and (min-width: 1230px) and (max-width: 1300px) {
  section#conteudo article#Home section#personal-info::after {
    background-color: #eaeaea;
    content: " ";
    height: 20%;
    left: 54vw;
    position: absolute;
    top: 890px;
    width: 1px;
    z-index: 0;
  }
  section#conteudo article#Home section#personal-info #content-personal {
    margin-left: -40px;
  }
  section#conteudo article#Home section#contact-info::after {
    background-color: #eaeaea;
    content: " ";
    height: 19%;
    left: 53.8vw;
    position: absolute;
    top: 1250px;
    width: 1px;
    z-index: 0;
  }
  section#conteudo article#Home section#contact-info #content-contact {
    margin-left: -40px;
  }
  section#conteudo article#Home section#skill {
    margin: 150px 50px 0px 50px;
    text-align: center;
  }
  section#conteudo article#Home section#skill::after {
    background-color: #eaeaea;
    content: " ";
    height: 35%;
    left: 55.2vw;
    position: absolute;
    top: 1540px;
    width: 1px;
    z-index: 0;
  }
  section#conteudo article#resume section#skill::after {
    background-color: #eaeaea;
    content: " ";
    height: 35%;
    left: 56.6vw;
    position: absolute;
    top: 1540px;
    width: 1px;
    z-index: 0;
  }
}
@media only screen and (min-width: 1302px) and (max-width: 1500px) {
  body {
    margin: 50px 100px 50px 100px;
  }

  section#conteudo article#Home section#personal-info::after {
    background-color: #eaeaea;
    content: " ";
    height: 19%;
    left: 56.5vw;
    position: absolute;
    top: 690px;
    width: 1px;
    z-index: 0;
  }
  section#conteudo article#Home section#contact-info::after {
    background-color: #eaeaea;
    content: " ";
    height: 16%;
    left: 56.5vw;
    position: absolute;
    top: 1060px;
    width: 1px;
    z-index: 0;
  }
  section#conteudo article#resume section#skill::after {
    background-color: #eaeaea;
    content: " ";
    height: 35%;
    left: 56.5vw;
    position: absolute;
    top: 1470px;
    width: 1px;
    z-index: 0;
  }
}

/*# sourceMappingURL=style.css.map */
